@import "tailwindcss";

@font-face {
  font-family: "Switzer";
  src: url(./assets/fonts/Switzer-Variable.ttf);
}



:root {
  
  --text-color-primary: #EDEAE2;
  --text-color-secondary: #101018;
  --primary-color: #101018;
  --secondary-color: #222231;
  --accent-color: #EDEAE2;
  --secondary-accent-color: #FFAE00;



  font-family: "Switzer";
  line-height: 1.5;
  font-weight: 400;

  
  color: var(--text-color-primary);
  background-color: var(--primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --breakpoint-xsm: 31rem;
  --breakpoint-xs: 44rem;
  --breakpoint-xlg: 66rem;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}




